.contact-main {
  width: 100%;
}

.basic-contact {
  margin-left: 5%;
  margin-right: 5%;
}

.address-heading-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.address-heading-div > * {
  flex: 1;
  min-width: 300px;
}

.contact-heading-img-div {
  display: flex;
  align-items: center;
  justifycontent: center;
}

.address-heading-text-div {
  text-align: center;
}

.contact-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 20px;
}

.address-heading-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.contact-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: "Google Sans Medium";
}

.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 40px;
}

@media (max-width: 1380px) {
  .contact-heading-text {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .contact-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .address-heading-text {
    font-size: 20px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: 20px;
  }

  .address-heading-text-div {
    margin-top: 20px;
  }

  .contact-header-detail-text {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
